.forgot-form-container {
    width: 40%;
    min-width: 23rem;
    align-items: center;
    height: 100%;
}

.forgot-page-container {
    height:49rem;
}

.forgot-inputs-container {
    border-style: solid;
    border-radius: 3.125rem;
    border-color: #00ac50;
    border-width: 3px;
    width: 80%;
    height: 55%;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}