/** @format */
.nav-div {
  margin-top: 100px;
}

.background-color-left {
  background-color: #000;
}

.background-color-right {
  background-color: #a7a3a3;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.navbar-styling {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  border-bottom: #000 2px solid;
}
.AppHarvest-logo-style {
  height: 3rem;
  width: 3rem;
  color: #00ac50;
}
.title-styling {
  color: #00ac50;
  font-size: 0.5rem;
}
.max-width-500px {
  max-width: 500px;
}

.link-styling {
  position: fixed;
  right: 0;
  padding-right: 3rem;
}
.link-color {
  color: #00ac50;
  font-size: 1rem;
}
.uploads-div-styling {
  border: #000 1px solid;
  align-items: center;
}

.uploads-div-styling p {
  text-align: center;
}

.announcements-div-styling {
  background-image: url(https://media.agriinvestor.com/uploads/2021/02/AppHarvest-indoor.jpg);
  border: #000 1px solid;
  align-items: center;
  opacity: 0.9;
}

.announcements-div-styling p {
  text-align: center;
}

.announcements-div-styling .announcements{
  text-align: left;
  margin-left: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-top: 20px;
}
.uploads-rectangle {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 4rem;
  width: 600px;
  height: 1000px;
  background-color: #e5e5e5;
  overflow-y: auto;
}


.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  width: 100%;
  height: 50px;
  border: #000 0.5px solid;
}

.link {
  margin-right: auto;
}

.name {
  margin: 0 auto;
}

.user {
  margin-left: auto;
}



.announcements-rectangle {
  justify-content: flex-start;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 4rem;
  width: 400px;
  height: 1000px;
  background-color: #e5e5e5;
  border-radius: 20px;
  overflow-y: auto;
}
